header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C1420;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo span {
    color: #9ecbea;
}

.logo img {
    width: 300px;
    height: auto;
    display: block;

    padding-left: 20px;
}

nav a {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    font-weight: 600;

    padding-right: 20px;

    color: #5bbbff;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

body {
    background-color: #21496a;
    font-family: "Rajdhani", sans-serif;
    color: white;
    margin: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
}

h1,
h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

main {
    text-align: center;
    flex-grow: 1;
}

main p {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.frase {
    font-family: "Cinzel", serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.parrafo-inicio {
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.producto h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.productos-inicio {
    text-align: center;
}

.tarjeta-producto {
    background-color: #0C1420;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tarjeta-producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.boton-carrito {
    background-color: #21496a;
    color: white;

    border: 0px solid;
    padding: 10px 15px;
    border-radius: 5px;
}

.boton-carrito:hover {
    background-color: #18364d;
}

form {
    background-color: #0C1420;
    width: 500px;
    padding: 35px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contacto {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items:center;

    padding-top: 40px;
}

.contacto h1 {
    color: white;
    font-size: 2rem;
}

.formulario input {
    width: 95%;
    padding: 10px;
}

.formulario textarea {
    width: 95%;
    height: 80px;
    padding: 10px;
}

.formulario button {
    background-color: #21496a;
    color: white;

    border: 0px solid;
    padding: 10px 15px;
    border-radius: 5px;
}

.formulario button:hover {
    background-color: #18364d;
}

footer {
    background-color: #0C1420;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {

    header {
        flex-direction: column;
    }

    .logo img {
        width: 180px;
    }

    nav ul {
        justify-content: center;
    }
}